# This chapter will cover:
- Loading a simple delimited data file
- Counting how many rows and columns were loaded
- Determining which type of data was loaded
- Looking at different parts of the data by subsetting rows and columns

In [1]:
#Importing pandas  and aliasing it as pd
import pandas as pd

# 1 Loading a simple delimited data file

In [2]:
gap=pd.read_csv("data/gapminder.tsv", sep="\t") # read_csv funtion allows us to read the dataset into pandas
#Sep paramater is providered with \t because this a tsv file

In [3]:
#Let check the type
type(gap)

pandas.core.frame.DataFrame

In [4]:
#Get the number of rows and columns

In [5]:
gap.shape

(1704, 6)

In [6]:
# 1704=rows and 6=columns

In [7]:
#Get columns names 
gap.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [8]:
#Get the dtypes of all columns

In [9]:
gap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

# 1.3 Looking at Columns, Rows, and Cells

In [10]:
#Subsetting Columns by Name

In [11]:
country_df=gap['country']

In [13]:
country_df.head() # show the first 5 observations

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [14]:
# show the last 5 observations
country_df.tail()

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [15]:
# Looking at country, continent, and year
subset=gap[['country', 'continent', 'year']]
subset.head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [16]:
# 1.3.2 Subsetting Rows